
* {
    box-sizing: border-box;  /* Esto  es para que no haya desbordamientos horizontalmete*/
}

html{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}

body {
   
    margin: 0;
    padding: 0;
    background-image: url(../Imagenes/patron.jpg);
}
body::after {
    content: "";
    background: rgba(255, 255, 255, 0.95); 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}  

header {
    background-color: #4059b9;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #f2f2f2;
    padding: 10px;
}

nav a {
    display: inline-block; 
    padding: 10px;
    text-decoration: none;
    color: #333;
    font-family: 'Poppins', sans-serif;
}

nav a:hover {
    background-color: #ddd;
    font-family: 'Poppins', sans-serif;
    color: #4059b9;
}

main{
    padding: 50px;
}

.foto {
    width: 600px;
    height: 400px;
    margin-left: 40px;
}

.logoLinkedin {
    width: 25px;
    height: 25px;
    margin-left: 25px;
}

.correoPersonal {
    margin-left: 15px;
}

#texto{
    
}

#nombre {
  
}

#nombre p{
   margin: 0px;
}

#textoYForm{
    display: flex;
}

#formu{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px;
    padding-top: 10px;
    font-size: 16px;
    margin: 40px;
    box-shadow: 10px 10px 10px #ddd;
    background-color: #f2f2f2;
    width: 850px;
    height: 450px
}

table{
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

tr{
   width: 100px; 
}


#botones{
    margin-left: 40%;
}

footer {
    font-size: 10pt;
    background-color: #292929;
    color: white;
    text-align: right;
    padding: 20px;
    bottom: 0;
    width: 100%;
}
footer a {
    color: #5372f0;
    text-decoration: none;
}

 footer a:hover {
    color: white; /* Cambia este valor cuando el mouse está sobre el enlace */
}

footer a:visited {
    color: #93a5ee; /* Cambia este valor para enlaces visitados */
}



a {
    color: #5372f0;
    text-decoration: none;
}

a:hover{
    color: rgb(109, 109, 109); /* Cambia este valor cuando el mouse está sobre el enlace */
}




