
* {
    box-sizing: border-box;  /* Esto  es para que no haya desbordamientos horizontalmete*/
}

html{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}

body {
           
    margin: 0;
    padding: 0;
    background-image: url(../Imagenes/patron.jpg);

}
body::after {
    content: "";
    background: rgba(255, 255, 255, 0.95); 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}  

header {
    background-color: #4059b9;
    color: white;
    padding: 20px;
    text-align: center;
}

header img{
    transition: transform 0.3s ease;

}

header img:hover{
    transform: scale(1.1);
}

nav {
    background-color: #f2f2f2;
    padding: 10px;
}

nav a {
    display: inline-block; 
    padding: 10px;
    text-decoration: none;
    color: #333;
    font-family: 'Poppins', sans-serif;
}

nav a:hover {
    background-color: #ddd;
    font-family: 'Poppins', sans-serif;
    color: #4059b9;
}

main{
    padding: 20px;
    width: 100%;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}

#centrar{
    padding-top: 50px;
    margin: auto;
    display: flex;
}
h3 {
    text-align: center;
    font-size: 24px;
}

#containerColor{
    background-color:rgba(186, 201, 255, 1);
    animation: fade 0.5s linear forwards;
    height: 565px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

@keyframes fade {
    from {
        background-color:rgba(186, 201, 255, 0);
    }
    to {
        background-color:rgba(186, 201, 255, 0.6);
    }
}

#medio {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1700px;
    height: auto;
    margin: auto;
}

#medio > #text {
    display: block;
    width: 700px;
    padding-right: 50px;

}

#medio > #text > h4{
    padding-left: 10px;
    font-size: 22px;
    
}

#medio > #text > p{
    font-size: 12pt; 
    
    
}

#medio > #imagen {
    display: block;
    width: 900px;
    position: relative;
    justify-content: center;
    align-items: center;
}

#medio > #imagen > img{
    
    width: 1000px;
    
}

@keyframes slideIn {
    to {
        left: 0; /* Desplaza la imagen hacia la izquierda hasta la posición inicial */
    }
}

hr{
    margin-block-start: 0.0em;
    margin-block-end: 0.0em;
    border: 1px dashed rgb(93, 109, 255);
}

#nosotros{
    display: flex;
    flex-wrap: nowrap;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
}

#nosotros > .persona{
    display: inline;
    width: 450px;
    height: 480px;
    background-color: #f2f2f2;
    margin: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    border-radius: 5px;
}

#nosotros > .persona > img{
    width: 450px;
    height: 300px;
    border-radius: 5px;
}

#nosotros > .persona > h4{
    margin: 0;
}

.persona {
    opacity: 0; 
    transform: translateY(20px); 
    transition: opacity 0.8s, transform 0.8s;
}

.persona.visible {
    opacity: 1;
    transform: translateY(0);
}

ul{
    padding-right: 40px;
    padding-top: 5px;
   
}

li{
    display: inline-block;
    margin: 0 5px;
}

.logo > img{
    width: 25px;
    height: 25px;
    border-radius: 5px;
}

.logo > img:hover{
    width: 24px;
    height: 24px;
    border-radius: 5px;
}


footer {
    font-size: 10pt;
    background-color: #292929;
    color: white;
    text-align: right;
    padding: 20px;
    bottom: 0;
    width: 100%;
    margin-top: 50px;
}
footer a {
    color: #5372f0;
    text-decoration: none;
}

 footer a:hover {
    color: white; /* Cambia este valor cuando el mouse está sobre el enlace */
    
}

footer a:visited {
    color: #93a5ee; /* Cambia este valor para enlaces visitados */
    
}
