
* {
    box-sizing: border-box;  /* Esto  es para que no haya desbordamientos horizontalmete*/
}

html{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #4059b9;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #f2f2f2;
    padding: 10px;
}

nav a {
    display: inline-block; 
    padding: 10px;
    text-decoration: none;
    color: #333;
    font-family: 'Poppins', sans-serif;
}

nav a:hover {
    background-color: #ddd;
    font-family: 'Poppins', sans-serif;
    color: #4059b9;
}

main{
    padding: 20px;
    width: 100%;
    height: 1200px;
}

h3 {
    text-align: center;
    font-size: 24px;
}

#medio {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    margin: auto;
}

#medio > #text {
    display: block;
    background-color: #5D83D4;
    width: 900px;
    height: 600px;
    margin: 5px;

}

#medio > #text > h4{
    padding-left: 10px;
    font-size: 22px;
}

#medio > #text > p{
    font-size: 17px;
    padding-left: 10px;
}

#medio > #imagen {
    display: block;
    background-color: #5D83D4;
    width: 900px;
    height: 600px;
    margin: 5px;
    justify-content: center;
    align-items: center;
}

#medio > #imagen > img{
    margin: 5px;
    width: 890px;
    height: 590px;
}

hr{
    margin-block-start: 0.0em;
    margin-block-end: 0.0em;
    border: 1px dashed white;
}

#nosotros{
    display: flex;
    flex-wrap: nowrap;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
}

#nosotros > .persona{
    display: inline;
    width: 550px;
    height: 280px;
    background-color: #ddd;
    margin: 40px;
    margin-top: 100px;
    text-align: center;
    border: 1px solid;
    border-radius: 10px;
}

#nosotros > .persona > img{
    width: 400px;
    height: 150px;
    padding: 5px;
}

#nosotros > .persona > h4{
    margin: 0;
}

.persona {
    opacity: 0; 
    transform: translateY(20px); 
    transition: opacity 0.8s, transform 0.8s;
}

.persona.visible {
    opacity: 1;
    transform: translateY(0);
}

ul{
    padding-right: 40px;
}

li{
    display: inline-block;
    margin: 0 5px;
}

.logo > img{
    width: 36px;
    height: 36px;
    border-radius: 10px;
}


footer {
    font-size: 10pt;
    background-color: #292929;
    color: white;
    text-align: right;
    padding: 20px;
    bottom: 0;
    width: 100%;
}
footer a {
    color: #5372f0;
    text-decoration: none;
}

 footer a:hover {
    color: white; /* Cambia este valor cuando el mouse está sobre el enlace */
    
}

footer a:visited {
    color: #93a5ee; /* Cambia este valor para enlaces visitados */
    
}
