
* {
    box-sizing: border-box;  /* Esto  es para que no haya desbordamientos horizontalmete*/
}

html{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}

body {
           
    margin: 0;
    padding: 0;
    background-image: url(../Imagenes/patron.jpg);

}

#entrada{
   padding: 1px;
    background-color:rgba(193, 206, 252, 0.6);
}

#entrada h2{
    text-align: center;
}

#entrada p{
    text-align: center;
}


h2 {
    margin-top: 50px;
    padding-left: 50px;
}
body::after {
    content: "";
    background: rgba(255, 255, 255, 0.95); 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}  

header {
    background-color: #4059b9;
    color: white;
    padding: 20px;
    text-align: center;
}


header img{
    transition: transform 0.3s ease;

}

header img:hover{
    transform: scale(1.1);
}

nav {
    background-color: #f2f2f2;
    padding: 10px;
}

nav a {
    display: inline-block; 
    padding: 10px;
    text-decoration: none;
    color: #333;
    font-family: 'Poppins', sans-serif;
}

nav a:hover {
    background-color: #ddd;
    font-family: 'Poppins', sans-serif;
    color: #4059b9;
}

main{
    padding: 0px;
}

section img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.5;
    transition: 0.5 ease;
    filter:grayscale(1);
    transition: filter 0.5s ease; /* Agrega una transición de fade */
}

section img:hover {
    filter:grayscale(0%);
    opacity: 1; /* Ajusta la opacidad al pasar el cursor sobre la imagen */
}

#imgSection{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color:rgba(193, 206, 252, 0.6);
}

section {
    display: flex;
    width: 100%;
    height: 430px; 
}

hr{
    border: solid 1px #768aff;
}

.h2derecha{
    margin-right: 50px;
}
section :hover {
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

#parrafo {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align:start
}

.slider {
    display: flex;
    margin-right: 50px;
    margin-left: 50px;
    position: relative;
  
}

.slides {
    display: flex;
}

.slides img{
    width: 1000px;
    cursor: pointer;
    display: block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    filter: grayscale();
    transition: filter 0.5s ease; 
}

.slides img:hover{
    cursor: pointer;
    filter:grayscale(0%);
}

#parrafo p {
    justify-content: center;
    align-items: center;
    text-align: justify;
    width: 900px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 11pt;
    
}

#parrafoPar {
    flex-direction: row-reverse;
    display: flex;
    width: 100%;
    justify-content: center;
    text-align:start
}

#parrafoPar p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    width: 900px;
    margin-left: 50px;
    margin-right: 50px;
     font-size: 11pt;
}


#volverarriba{
    background-color:#f2f2f2;
    display: flex;
    margin: auto;
    height: 90px;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    
}
#volverarriba img {
    transition: transform 0.3s ease-in-out;
    rotate:90deg;
}
#volverarriba img:hover {
    transform: scale(1.15);
}


footer {
    font-size: 10pt;
    background-color: #292929;
    color: white;
    text-align: right;
    padding: 20px;
    bottom: 0;
    width: 100%;
   
}
footer a {
    color: #5372f0;
    text-decoration: none;
}

 footer a:hover {
    color: white; /* Cambia este valor cuando el mouse está sobre el enlace */
    
}

footer a:visited {
    color: #93a5ee; /* Cambia este valor para enlaces visitados */
    
}
