
* {
    box-sizing: border-box;  /* Esto  es para que no haya desbordamientos horizontalmete*/
}

html{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}

body {
           
    margin: 0;
    padding: 0;
    background-image: url(../Imagenes/patron.jpg);

}

#entrada{
   padding: 1px;
    background-color:rgba(193, 206, 252, 0.6);
}

#entrada h2{
    text-align: center;
}

#entrada p{
    text-align: center;
}


h2 {
    margin-top: 50px;
    padding-left: 50px;
}
body::after {
    content: "";
    background: rgba(255, 255, 255, 0.95); 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}  

header {
    background-color: #4059b9;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #f2f2f2;
    padding: 10px;
}

nav a {
    display: inline-block; 
    padding: 10px;
    text-decoration: none;
    color: #333;
    font-family: 'Poppins', sans-serif;
}

nav a:hover {
    background-color: #ddd;
    font-family: 'Poppins', sans-serif;
    color: #4059b9;
}

main{
    padding: 0px;
}

section img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .5;
    transition: .5 ease;
}

#imgSection{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color:rgba(193, 206, 252, 0.6);
}

section {
   
    display: flex;
    width: 100%;
    height: 430px;
    
}

hr{
    border: solid 1px #768aff;
}

.h2derecha{
    margin-right: 50px;
}
section :hover {
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

#parrafo {
    display: flex;
    width: 100%;
    justify-content: center;
}

#imagenesParrafo {
    display: block;
    margin-right: 50px;
    margin-left: 50px;
}

#imagenResenia {
    width: 1000px;
    margin-left: 20px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* sombra */
}

#parrafo p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 11pt;
    
}

#parrafoPar {
    flex-direction: row-reverse;
    display: flex;
    width: 100%;
    justify-content: center;
    text-align:start
}

#parrafoPar p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    margin-left: 50px;
    margin-right: 50px;
     font-size: 11pt;
}


footer {
    font-size: 10pt;
    background-color: #292929;
    color: white;
    text-align: right;
    padding: 20px;
    bottom: 0;
    width: 100%;
    margin-top: 100px;
}
footer a {
    color: #5372f0;
    text-decoration: none;
}

 footer a:hover {
    color: white; /* Cambia este valor cuando el mouse está sobre el enlace */
    
}

footer a:visited {
    color: #93a5ee; /* Cambia este valor para enlaces visitados */
    
}
